<h3> Tarifs </h3>
<div class="myTable">
    <table border="1">
        <tr>
            <td> </td>
            <td> Adultes </td>
            <td> Enfants de moins de 10 ans </td>
            <td> Groupes (plus de 10 personnes) </td>
            <td> Ecole </td>
        </tr>
        <tr>
            <td> Semaine (except Wednesday) </td>
            <td> 10€ </td>
            <td> 5€ </td>
            <td> 85€ </td>
            <td> 50€ </td>
        </tr>
        <tr>
            <td> Week-end et Mercredi </td>
            <td> 13€ </td>
            <td> 8€ </td>
            <td> 100€ </td>
            <td> 70€ </td>
        </tr>
    </table>
</div>