<footer class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2">
                <img src="https://previews.123rf.com/images/yuliaglam/yuliaglam1511/yuliaglam151100011/47904115-vector-ic%C3%B4ne-du-chapiteau-de-cirque.jpg" alt="Logo site">
            </div>

            <div class="col-lg-2 col-md-5 mb-md-0 mb-2 offset-lg-1 list-footer">
                <h5>Nos Reseaux Sociaux :</h5>
                <ul class="list-unstyled">
                    <li> <a href="https://www.facebook.com/cirque1/"
                            class="fa fa-facebook"></a>Facebook</li>
                </ul>
            </div>

            <div class=" offset-lg-1 col-lg-3 col-md-5 mb-md-0 mb-2 list-footer">
                <h5>Siege social :</h5>
                <ul class="list-unstyled">
                    <li>90 rue du Grand Eléphant</li>
                    <li>30652 La Beauce</li>
                    <li></li>
                </ul>
                <div>© 2019 Copyright :
                    <p><a href="https://www.linkedin.com/in/brandon-rabour/"> Brandon </a> en formation à
                        la <a class="credit" target="_blank" href="https://wildcodeschool.fr/">Wild Code School</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>