<h3> Wild Circus Tour </h3>

  <h4> * Tournée Internationale de 2019 * </h4>
  <table border="1">
    <tr>
      <td>                               </td>
      <td> Janvier / Février / Mars    </td>
      <td> Avril / Mai / Juin           </td>
      <td> Juillet / Aout / Septembre     </td>
      <td> Octobre / Novembre / Decembre </td>
    </tr>
    <tr>
      <td> France   </td>
      <td> Paris    </td>
      <td> Toulouse </td>
      <td> Lyon     </td>
      <td> Cannes   </td>
    </tr>
    <tr>
      <td> Deutchland </td>
      <td> Berlin     </td>
      <td> Wurtzbourg </td>
      <td> Weimar     </td>
      <td> Schwerin   </td>
    </tr>
    <tr>
      <td> Russia       </td>
      <td> Moscou       </td>
      <td> Novossibirsk </td>
      <td> Samara       </td>
      <td> Souzdal      </td>
    </tr>
    <tr>
      <td> España    </td>
      <td> Madrid    </td>
      <td> Barcelone </td>
      <td> Séville   </td>
      <td> Bilbao    </td>
    </tr>
    <tr>
      <td> USA        </td>
      <td> Washington </td>
      <td> New York   </td>
      <td> Mannathan  </td>
      <td> Détroit    </td>
    </tr>
    <tr>
      <td> England    </td>
      <td> London     </td>
      <td> Manchester </td>
      <td> Liverpool  </td>
      <td> Oxford     </td>
    </tr>
  </table>