h1{
    text-align: center;
    margin-top: 2%;
    color: darkmagenta;
    font-size: 400%;
}

.myNavbar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    border: 1px solid black;
}

.nav-link{
    font-family: "Circus2";
    font-size: 180%;
    display: block;
    padding-left: 2em !important;
    padding-right: 2em !important;
}